<div style="padding: 20px 20px 10px 20px">
  <div class="wrapper">
    <div class="search">
      <i class="bx bx-search"></i>
      <input type="text" placeholder="Search for a country..."
        [(ngModel)]="nameCountry"
        (keydown.enter)="searchCountry()"
        (change)="verify()"/>
    </div>
    <div (click)="toggle()" class="select">
        <p>Filter by Region</p>
        <i class='bx bxs-down-arrow'></i>
    </div>
  </div>
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="country-grid">
    <app-list *ngFor="let item of countries" [country]="item"></app-list>
  </div>
  <div *ngIf="isVisible" class="wrapper-list">
    <ul class="list">
      <li *ngFor="let region of regions" (click)="selectRegion(region)">{{ region }}</li>
    </ul>
  </div>
</div>
